<form action="/issues" method="post">
  <!-- may need to add for="" for AJAX -->
  <label>DESCRIPTION: </label>
  <input type="text" name="description" value="NEW ISSUE">

  <label>DATE: </label>
  <input type="date" name="createdAt" value="1000-01-20">

  <label>STATUS: </label>
  <input type="text" name="status" value="DEFINE CURRENT STATUS">

  <label>PRIORITY: </label>
  <input type="text" name="priority" value="DEFINE PRIORITY">

  <input type="submit" name="SUBMIT NEW ISSUE">
</form>
